* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}
p{
    font-size: 1.1em;
}
html {
 font-family: 'Ubuntu', sans-serif;
}
.ds_none{
    display: none !important;
}
/* 
TEXT 
*/
.text-j p{
    text-align: justify;
    margin: 10px 10px;
}
.text-c p{
    text-align: center;
    margin: 7px 10px;
}
/* 
FLOAT 
*/

.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* 
FLEX 
*/
.f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-flex{
    width: 100%;
}
.flex-3{
    flex-basis: calc(33.33% - 30px);
    margin: 5px 10px;
}
/* 
HEADER
*/
.main-header-black{
    font-size: 3em;
    color: black;
    text-align: center;
    flex-basis: 100%;
    margin: 20px;
}
/*
 RESPONSIVE FLEX
*/

@media (min-width: 1em){
    .flex-3{
        flex-basis: 67%;
    }
    .float-right{
        float: none;
    }
}

@media (min-width: 35em){
    .flex-3{
        flex-basis: 45%;
    }
}

@media (min-width: 45em){
    .flex-3{
        flex-basis: 35%;
    }
    .float-right{
        float: right;
    }
}

@media (min-width: 68em){
    .flex-3{
        flex-basis: 27%;
    }
}