.main_header{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

/*    LOGO    */

.main_header_logo{
    display: flex;
    background-color: brown;
    flex-basis: 50%;
    justify-content: center;
}
.main_header_logo_img{
    background-color: cornflowerblue;
    width: 150px;
}

/*    MENU     */
.main_header_menu{
    flex-basis: 100%;
    margin-top: 10px;
}
.main_header_menu ul{
    padding: 0;
    display: flex;
    list-style: none;
}
.main_header_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: crimson;
    text-decoration: none;
    padding: 8px;
}
.main_header_menu a:hover{
    background-color: cyan;
    color: #fff;
}
.main_header_menu li{
    position: relative;
    flex-basis: 100%;
    text-align: center;
}
/*  DROPDOWN  */
.main_header .main_header_menu li:hover .dropdown_1 > li,
.main_header .main_header_menu li:hover .dropdown_2 > li {
    display: block;
}

.dropdown_1 li, .dropdown_2 li{
    display: none;
    position: relative;
}
.dropdown_1, .dropdown_2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: crimson;
}