.main_header{
    display: flex;
/*  background-color: black; */
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 1.2em;
}

/*    LOGO    */

.main_header_logo{
    display: flex;
/*  background-color: brown; */
    flex-basis: 50%;
    justify-content: flex-start;
}
.main_header_logo_img{
/*  background-color: cornflowerblue;  */
    width: 30%;
    margin-left: 10px;
}


/* SOCIAL MIDIA */

.main_header_midia{
    flex-basis: calc(50%-10%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.main_header_midia ul{
    display: flex;
    align-items: stretch;
    padding: 0;
}
.main_header_midia ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.main_header_midia ul li a{
    padding: 0 5px;
    display: flex;
    align-items: center;
    color:#000;
    text-decoration: none;
}
.main_header_midia ul li a:hover{
    color: cyan;
    background-color: #fff;
}

/*    MENU     */

.main_header_menu{
    flex-basis: 100%;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
}
.main_header_menu ul{
    padding: 0;
    display: flex;
    list-style: none;
}
.main_header_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
 /* background-color: crimson; */
    background-color: darkgray;
    text-decoration: none;
    padding: 13px;
}
.main_header_menu a:hover{
    background-color: cyan;
    color: #fff;
}
.main_header_menu li{
    position: relative;
    flex-basis: 100%;
    text-align: center;
}


/*  MENU MOBILE  */

.main_header_menu_mobile{
    flex-basis: calc(100%-320px);
    justify-content: center;
    display: none;
}
.main_header_menu_mobile ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}
.main_header_menu_mobile ul li{
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}
.main_header_menu_mobile_obj{
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.main_header_menu_mobile_obj:hover, .main_header_menu_mobile_obj_active{
    background-color: black; 
    color: #fff;
}
.main_header_menu_mobile_sub1{
    min-width: 200px;
    background-color: black;
    border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    -webkit-border-radius: 4px 0 4px 4px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: -20px;
}
.main_header_menu_mobile_sub1 li{
    flex-basis: 100%;
}
.main_header_menu_mobile_sub1 li a{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
.main_header_menu_mobile_sub1 li a:hover{
    color: #fff;
    background-color: cyan;
}

/*  DROPDOWN  */


.main_header .main_header_menu li:hover .dropdown_1 > li{
    display: block;
}

.dropdown_1 li{
    display: none;
    position: relative;
}
.dropdown_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: darkgray;
}

.main_header .main_header_menu li:hover .dropdown_2 > li{
    display: block;
}
.dropdown_1 li a{
    padding: 10px;
}
.dropdown_2 li{
    display: none;
    position: relative;
    flex-basis: 32%;
    
}
.dropdown_2 li a{
    padding: 10px;
}
.dropdown_2{
    position: absolute;
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
    width: 400%;
    padding: 10px;
    background-color: darkgray;
}
.border_L{
    border-left: solid 3px #fff;
}
.border_R{
    border-left: solid 3px #fff;
}
.border_B{
    border-left: solid 3px #fff;
    border-right: solid 3px #fff;
}

/* PARALLAX */

#parallax_img1{
    background-image: url(_img/mang3.jpg);
}

.main_parallax{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 22% 10%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
    z-index: -1;
}

/*  FEATURED  */

.main_featured{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}
.main_featured_header{
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}
.main_featured_header h1{
    font-size: 3em;
}
.main_featured_header p{
    font-size: 1.5em;
}
.main_featured article{
    flex-basis: 23.7%;
}
.main_featured img{
    width: 100%;
}
.main_featured article h2{
    font-size: 1em;
    margin: 5px 0;
}
.main_featured article h2 a{
    color: black;
}
.main_featured article p{
    margin-bottom: 10px;
}
.main_featured article p a{
    color: black;
}

/* NEWS */

.main_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    background-color: #bbb;
}
.main_news_header{
    justify-content: center;
    flex-basis: 100%;
}
.main_news_header h1{
    font-size: 3em;
    text-align: center;
    color: #fff;
    margin: 40px 0;
}
.main_news article{
    flex-basis: 48%;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px;
}
.main_news img{
    width: 40%;
    float: left;
    margin-right: 10px;
    border-radius: 30px;
}
.main_news h2{
    margin: 10px;
}
.main_news p{
    text-align: justify;
}
.main_news h2 a{
    color: black;
    font-size: 1.1em;
}
.main_news p a{
    color: black;
    margin-right: 10px;
}
.main_news_btn{
    background-color: #fff;
    padding: 20px;
    color: black;
    margin: 20px 0;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 1.2em;
}

/* SIC */

.main_sic{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F5CE3D;
    padding: 5px 0;
    align-items: center;
}
.main_sic img{
    flex-basis: 7%;
}
.main_sic_header{
    flex-basis: 10%;
}
.main_sic_header h1{
    font-size: 1em;
}
.main_sic_links{
    justify-content: center;
    flex-basis: 55%;
    font-size: 0.85em;
}
.main_sic a{
    flex-basis: 50%;
    padding: 10px;
    color: #F5CE3D;
    background-color: black;
    font-size: 1.2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.main_sic a:hover{
    color: #fff;
}
.main_sic p{
    flex-basis: 23%;
}

/* SERVICE */

.main_service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}
.main_service_header{
    flex-basis: 100%;
    text-align: center;
    font-size: 3em;
    padding: 20px 0;
}
.main_service article{
    padding: 10px;
    background-color: cadetblue;
    flex-basis: 32%;
    margin-top: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
.main_service article a{
    color: #fff;
}
.main_service article a:hover{
    color: black;
}

/*  DISTRICT  */

.main_district{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #fff;
}
.main_district_header{
    font-size: 3em;
    color: black;
    text-align: center;
    flex-basis: 100%;
    margin: 40px 0;
}
.main_district article{
    flex-basis: 31%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.main_district article:hover{
    transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-transition: 0.4s all ease; 
	transition: 0.4s all ease; 
	-o-transition: 0.4s all ease;
}
.main_district article h2{
    color: black;
    text-align: center;
    margin: 10px 0;
}
.main_district article img{
    width: 700px;
    position: relative;
}

/* FOOTER */

.main_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 60px;
    background-color: darkgray;
}
.main_footer_header{
    flex-basis: 48%;
}
.main_footer_header img{
    width: 200px;
}
.main_footer_content{
    flex-basis: 48%;
    text-align: right;
}

/* STANDARD */

.main_standard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 20 auto;
}
.main_standard_header{
    flex-basis: 97%;
    justify-content: flex-start;
    font-size: 3em;
    color: black;
}

/*  RESPONSIVE  */

/* 16px */
@media (min-width: 1em){   

    /*    LOGO    */

    .main_header_logo{
        display: flex;
    /*  background-color: brown; */
        flex-basis: 100%;
        justify-content: center;
    }
    .main_header_logo_img{
    /*  background-color: cornflowerblue;  */
        width: 50%;
        margin-left: 10px;
    }
    
    /* SOCIAL MIDIA */

    .main_header_midia{
        margin-top: 5px;
        margin-left: 10px;
        flex-basis: 50%;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    /* MENU */

    .main_header_menu{
        display: none;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        flex-basis: calc(100%-320px);
        justify-content: center;
        display: flex;
    }
    /*  FEATURED  */

    .main_featured{
        justify-content: center;
        padding: 20px 0;
    }
    .main_featured article{
        flex-basis: 95%;
    }
    /* NEWS */

    .main_news{
        justify-content: space-around;
    }
    .main_news article{
        flex-basis: 97%;
    }
    .main_news img{
        width: 100%;
        float: none;
    }
    .main_news h2{
        font-size: 1.3em;
        text-align: center;
    }
    .main_news p{
        padding: 5px;
    }

    /* SIC */
    .main_sic img{
        flex-basis: 15%;
    }
    .main_sic_header{
        flex-basis: 100%;
        font-size: 0.9em;
        text-align: center;
    }
    .main_sic_link1{
        font-size: 0.7em;
        margin: 20px 0;
        flex-basis: 100%;
        text-align: center;
    }
    .main_sic_link2{
        font-size: 0.7em;
        flex-basis: 100%;
        text-align: center;
    }
    .main_sic p{
        flex-basis: 100%;
        margin: 20px 5px;
        text-align: center;
    }
    
     /* SERVICE */

     .main_service article{
        flex-basis: 48%;
    }

    /* DISTRICT */

    .main_district article{
        flex-basis: 90%;
    }

    /* FOOTER */

    .main_footer{
        justify-content: center;
    }
    .main_footer_header{
        flex-basis: 10%;
        justify-content: center;
    }
    .main_footer_content{
        flex-basis: 100%;
        text-align: center;
    }
}

/* 560px */
@media (min-width: 35em){   

    /*    LOGO    */

    .main_header_logo{
        display: flex;
    /*  background-color: brown; */
        flex-basis: 30%;
        justify-content: flex-start;
    }
    .main_header_logo_img{
    /*  background-color: cornflowerblue;  */
        width: 100%;
        margin-left: 10px;
    }
    
    /* SOCIAL MIDIA */

    .main_header_midia{
        font-size: 0.9em;
        margin-top: 5px;
        margin-left: 10px;
        flex-basis: 25%;
        width: 25%;
        display: flex;
        justify-content: flex-start;
    }

    /* MENU */

    .main_header_menu{
        display: none;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        flex-basis: calc(100%-320px);
        justify-content: center;
        display: flex;
    }
    /* NEWS */

    .main_news{
        justify-content: space-around;
    }
    .main_news article{
        flex-basis: 97%;
    }
    .main_news img{
        width: 100%;
        float: none;
    }
    .main_news h2{
        font-size: 1.3em;
        text-align: center;
    }

     /* SIC */
     .main_sic img{
        flex-basis: 15%;
    }
    .main_sic_header{
        flex-basis: 100%;
        font-size: 0.9em;
        text-align: center;
    }
    .main_sic_link1{
        font-size: 0.7em;
        margin: 20px 0;
        flex-basis: 100%;
        text-align: center;
    }
    .main_sic_link2{
        font-size: 0.7em;
        flex-basis: 100%;
        text-align: center;
    }
    .main_sic p{
        flex-basis: 100%;
        margin: 20px 5px;
    }

    /* FOOTER */

    .main_footer{
        justify-content: space-around;
    }
    .main_footer_header{
        flex-basis: 48%;
        justify-content: center;
    }
    .main_footer_content{
        flex-basis: 48%;
        text-align: right;
    }
}

/*  720px  */

@media (min-width: 45em){
    /*    LOGO    */

    .main_header_logo{
        display: flex;
    /*  background-color: brown; */
        flex-basis: 30%;
        justify-content: flex-start;
    }
    .main_header_logo_img{
    /*  background-color: cornflowerblue;  */
        width: 70%;
        margin-left: 10px;
    }
    
    /* SOCIAL MIDIA */

    .main_header_midia{
        font-size: 1em;
        margin-top: 5px;
        margin-left: 10px;
        flex-basis: 25%;
        width: 25%;
        display: flex;
        justify-content: flex-start;
    }

    /* MENU */

    .main_header_menu{
        display: none;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        flex-basis: calc(100%-320px);
        justify-content: center;
        display: flex;
    }

    /*  FEATURED  */

    .main_featured{
        justify-content: space-around;
        padding: 20px 0;
    }
    .main_featured article{
        flex-basis: 48%;
    }
    /* NEWS */

    .main_news{
        justify-content: space-around;
    }
    .main_news article{
        flex-basis: 48%;
    }
    .main_news img{
        width: 100%;
        float: none;
    }
    .main_news h2{
        text-align: center;
    }
    .main_news p{
        padding: 5px;
    }

    /* SIC */
    .main_sic{
        justify-content: space-around;
    }
    .main_sic img{
        flex-basis: 8%;
    }
    .main_sic_header{
        flex-basis: 10%;
        font-size: 0.9em;
        text-align: left;
        margin-left: -20px;
    }
    .main_sic_link1{
        font-size: 0.7em;
        flex-basis: 47%;
        margin-left: -20px;
        text-align: left;
    }
    .main_sic_link2{
        font-size: 0.7em;
        flex-basis: 22%;
        margin-left: -55px;
        text-align: left;
    }
    .main_sic p{
        flex-basis: 100%;
        margin: 20px 5px;
        text-align: center;
    }
    /* SERVICE */

    .main_service article{
        flex-basis: 32%;
    }

    /* DISTRICT */

    .main_district article{
        flex-basis: 46%;
    }
}

/* 1088px */
@media (min-width: 68em){
    .main_header{
        font-size: 0.8em;
        font-weight: 700;
    }
    .main_header_menu{
        display: block;
    }

    /* SOCIAL MIDIA */

    .main_header_midia{
        flex-basis: calc(100%-320px);
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        display: none;
    }

    /* NEWS */

    .main_news p{
        padding: 10px;
    }

    /* SIC */

    .main_sic{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #F5CE3D;
        padding: 5px 0;
        align-items: center;
    }
    .main_sic img{
        flex-basis: 7%;
    }
    .main_sic_header{
        flex-basis: 10%;
    }
    .main_sic_header h1{
        font-size: 1em;
    }
    .main_sic_link1{
        flex-basis: 32%;
        font-size: 0.7em;
    }
    .main_sic_link2{
        flex-basis: 20%;
        font-size: 0.7em;
    }
    .main_sic p{
        flex-basis: 23%;
    }

    /* DISTRICT */

    .main_district article{
        flex-basis: 31%;
    }
}

/* DESCkTOP 1121px */

@media (min-width: 70.0625em){
    .main_header{
        justify-content: space-between;
        font-size: 1em;
    }
    /*    LOGO    */

    .main_header_logo{
        display: flex;
    /*  background-color: brown; */
        flex-basis: 50%;
        justify-content: flex-start;
    }
    .main_header_logo_img{
    /*  background-color: cornflowerblue;  */
        width: 30%;
        margin-left: 10px;
    }
    
    /* SOCIAL MIDIA */

    .main_header_midia{
        flex-basis: calc(100%-320px);
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    /* MENU */

    .main_header_menu{
        display: block;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        display: none;
    }
    /*  FEATURED  */

    .main_featured{
        justify-content: space-around;
        padding: 20px 0;
    }
    .main_featured article{
        flex-basis: 23.7%;
    }
    /* NEWS */

    .main_news{
        justify-content: space-around;
    }
    .main_news article{
        flex-basis: 48%;
    }
    .main_news img{
        width: 40%;
        float: left;
    }
    .main_news h2{
        font-size: 1em;
        text-align: left;
    }
    .main_news p{
        padding: 0px;
    }
}
