* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}
html {
 font-family: 'Ubuntu', sans-serif;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
}
