.header{
    width: 100%;
    background-color: brown;
}
.header_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.header_content .header_content_logo{
    width: 500px;
}
.header_content .header_content_logo{
    display: flex;
    flex-basis: 200px;
    justify-content: start;
    padding: 10px 0;
}
.header_content .header_content_text{
    flex-basis: calc(100% - 200px);
    justify-content: start;
    text-align: center;
    font-size: 3.5em;
}

/* Initial Parallax */
#parallax_img1{
    background-image: url(_img/tatooine.jpg);
    width: 100px;
}
.main_parallax{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 22% 10%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
}

/* Importance */
.main_importance{
    display: flex;
    max-width: 1300px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}
.main_importance .main_importance_header{
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.main_importance .main_importance_header h1{
    font-size: 3em;
}
.main_importance .main_importance_content{
    flex-basis: 100%;
}
.main_importance .main_importance_content p{
    font-size: 1.2em;
    margin: 20px auto;
    text-align: justify;
}

/* Second Parallax */
#parallax_img2{
    background-image: url(_img/tatooine-city.jpg);
}

/* PEOPLE */

.main_people{
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
}
.main_people .main_people_header{
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
}
.main_people .main_people_header h1{
    font-size: 3em;
    text-align: center;
    margin: 20px auto;
}

/* Salespeople */

.main_people .main_people_salespeople{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    padding: 20px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    justify-content: space-between;
}
.main_people .main_people_salespeople_header{
    flex-basis: 100%;
}
.main_people_salespeople .main_people_salespeople_header h2{
    font-size: 1.5em;
    margin: 20px auto;
}
.main_people_salespeople .main_people_salespeople_img{
    flex-basis: 40%;
    width: 100%;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
}
.main_people_salespeople .main_people_salespeople_content{
    flex-basis: 59%;
    width: 100%;
}
.first-p{
    margin: 0px 10px !important;
}
.main_people_salespeople .main_people_salespeople_content p{
    font-size: 1.2em; 
    margin: 20px 10px;
    text-align: justify;
}

/* Smuggler */

.main_people .main_people_smuggler{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    padding: 20px;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    justify-content: space-between;
    margin: 20px auto;
}
.main_people .main_people_smuggler_header{
    flex-basis: 100%;
}
.main_people_smuggler .main_people_smuggler_header h2{
    font-size: 1.5em;
    margin: 20px auto;
}
.main_people_smuggler .main_people_smuggler_img{
    flex-basis: 40%;
    width: 100%;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
}
.main_people_smuggler .main_people_smuggler_content{
    flex-basis: 59%;
    width: 100%;
}
.main_people_smuggler .main_people_smuggler_content p{
    font-size: 1.2em; 
    margin: 20px 10px;
    text-align: justify;
}
