.header{
    max-width: 100%;
    background-color: brown;
}
.header .header_content{
    width: 1300px;
    display: flex;
}
.header_content_logo img{
    width: 100%;
}
.header_content .header_content_logo{
    display: flex;
    flex-basis: 15.5%;
    justify-content: start;
    padding: 20px;
}
.header_content .header_content_text{
    display: flex;
    flex-basis: 75.50%;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    text-align: center;
}


.main_cta{
    background-image: url(_img/tatooine.jpg);
    background-size: cover;
    position: relative;
    padding: 23% 10%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
}